#heading{
    background-color: rgb(136, 0, 255);
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

#note{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.div_speed{
    float: left;
}

.speed_img{
    width: 200px;
    border-radius: 100px;
}

.div_volume{
    float: right;
}

.volume_img{
    width: 200px;
    border-radius: 100px; 
}

canvas{
    border: 5px solid rgb(122, 10, 233);
    border-radius: 15px;
}